development:
  apapter: mysql2
  host: localhost
  user: root
  password:
  database: gnrd
  url_base: 'http://localhost:4567'
  salt: substitute_with_your_secret_salt_string
  solr_url: 'http://localhost:8983/solr'

test:
  apapter: mysql2
  host: localhost
  user: root
  password:
  database: gnrd_test
  url_base: 'http://localhost:4567'
  salt: substitute_with_your_secret_salt_string
  solr_url: 'http://localhost:8983/solr'

production:
  apapter: mysql2
  host: localhost
  user: root
  password:
  database: gnrd_test
  url_base: 'http://localhost:4567'
  salt: substitute_with_your_secret_salt_string
  solr_url: 'http://localhost:8983/solr'
  
  
  
