development:
  adapter: mysql2
  host: localhost
  user: root
  password:
  database: gnrd_dev
  url_base: 'http://localhost:4567'
  salt: substitute_with_your_secret_salt_string
  neti_neti_host: 0.0.0.0
  neti_neti_port: 6384
  taxon_finder_host: 0.0.0.0
  neti_neti_port: 1234

test:
  adapter: mysql2
  host: localhost
  user: root
  password:
  database: gnrd_test
  url_base: 'http://localhost:4567'
  salt: substitute_with_your_secret_salt_string
  neti_neti_host: 0.0.0.0
  neti_neti_port: 6384
  taxon_finder_host: 0.0.0.0
  neti_neti_port: 1234

production:
  adapter: mysql2
  host: localhost
  user: root
  password:
  database: gnrd_test
  url_base: 'http://gnrd.globalnames.org'
  salt: substitute_with_your_secret_salt_string
  neti_neti_host: 0.0.0.0
  neti_neti_port: 6384
  taxon_finder_host: 0.0.0.0
  neti_neti_port: 1234
  
  
  
