%p
  Find scientific names on web pages, PDFs, Microsoft Office documents, images, or in freeform text. Encrypted or image-based PDFs and image files first pass through an OCR routine using 
  %a{:href =>"http://code.google.com/p/tesseract-ocr/"} Tesseract
  prior to using the excellent 
  %a{:htre => "http://code.google.com/p/taxon-finder/"} TaxonFinder
  and 
  %a{:href => "https://github.com/mbl-cli/NetiNeti"} NetiNeti
  names discovery engines.
#chrome-panel.panel
  #chrome.clear
    #chrome-icon
      %a{:href => "https://chrome.google.com/webstore/detail/pogmooobpbggadhlleijfpjgnpkjdnhn", :target => "_blank"}
        %img{:alt => "BiblioSpotter Chrome Extension", :src => '/images/icon-48.png'}/
    #chrome-description
      %span
        %a{:href => "https://chrome.google.com/webstore/detail/pogmooobpbggadhlleijfpjgnpkjdnhn", :target => "_blank"} Chrome NameSpotter Extension
      %span Make scientific names actionable.
#form-panel.panel
  %form{:action => "/name_finder", :method => "post", :enctype=>"multipart/form-data"}
    %label{:for => 'find_url'} URL to web page, PDF, Microsoft Office document or image
    %input.gnrd-input{:type => :text, :name => "find[url]", :id => :find_url, :placeholder => "http://example.com", :size => 30}
    %p.separator -- OR --
    %label{:for => 'find_file'} File
    %input.gnrd-file{:type => :file, :name => "find[file]", :id => :find_file, :accept => "application/x-gzip;application/zip", :size => 30}
    %p.separator -- OR --
    %label{ :for => :find_text } Freeform Text
    %textarea.gnrd-text{ :cols => 25, :rows => 12, :name => "find[text]", :id => :find_text }
    %fieldset 
      %legend Name-Finding Engine
      - {'Both' => 0, 'TaxonFinder' => 1, 'NetiNeti' => 2}.each do |key, value|
        - checked = (key == 'Both') ? true : nil
        %input{:type => :radio, :name => "engine", :id => "engine_#{key}", :value => value, :checked =>  checked}
        %label{:for => "engine_#{key}"}= key
    %input{:type => :hidden,  :name => :unique, :value => :true}
    %div
      %input.form-button.submit-button{:type => :submit, :value => "Find Names"}
%p
  %a{:href => "https://github.com/GlobalNamesArchitecture/gnrd"} Code
  on GitHub
