!!! 5
%html
  %head
    %meta{ :charset => "UTF-8" }/
    %title= @title || SiteConfig.title
    %link{ :href => '/main.css', :rel => 'stylesheet', :type => 'text/css' }
  %body
    #SiteContainer.structural
      .background
      #Header.structural.fixedWidth
        .inner
          #Logo
            %a{:href => "/"}
              %h1 Global Names Recognition and Discovery
          %ul#SiteNavigation
            - klass =  @page == "home" ? :active : nil
            %li{:class => klass}
              %a{:href => "/home"} Home
            - klass = @page == "feedback" ? :active : nil
            %li{:class => klass}
              %a{:href => "/feedback"} Feedback
            - klass = @page == "api" ? :active : nil
            %li{:class => klass}
              %a{:href => "/api"} API
      #BodyContent.structural.fixedWidth.clear
        .inner
          #content-wrapper
            #content-splash
              %p.tagline Global Names recognition and discovery tools and services
            #content-body= yield
      #Footer.structural.fixedWidth
        .inner
          %span
            %a{:href => 'http://www.globalnames.org'} Global Names Architecture
          |
          = succeed "|" do
            %span
              %a{:href => 'http://gni.globalnames.org'} Global Names Index
          = succeed "|" do
            %span
              %a{:href => "http://gnaclr.globalnames.org"} Global Names Classification and List Repository
          %span
            %a{:href => 'http://gnite.org'} Global Names Integrated Taxonomic Editor 
