{
  "salt": "substitute_with_your_secret_salt_string",
  "gnfinder_host": "0.0.0.0",
  "gnfinder_port": 8778,
  "redis_host": "0.0.0.0",
  "resolver_url":
    "http://resolver.globalnames.org/name_resolvers.json",
  "database": {
    "development": {
      "adapter": "postgresql",
      "host": "0.0.0.0",
      "username": "postgres",
      "password": null,
      "database": "gnrd_development"
    },
    "test": {
      "adapter": "postgresql",
      "host": "0.0.0.0",
      "username": "postgres",
      "password": null,
      "database": "gnrd_test"
    },
    "production": {
      "adapter": "postgresql",
      "host": "0.0.0.0",
      "username": "postgres",
      "password": null,
      "database": "gnrd"
    }
  }
}
