{
  "salt": "substitute_with_your_secret_salt_string",
  "neti_neti_host": "0.0.0.0",
  "neti_neti_port": 6384,
  "taxon_finder_host": "0.0.0.0",
  "taxon_finder_port": 1234,
  "resolver_url":
    "http://resolver.globalnames.org/name_resolvers.json",
  "database": {
    "development": {
      "adapter": "postgresql",
      "host": "0.0.0.0",
      "username": "postgres",
      "password": null,
      "database": "gnrd_development"
    },
    "test": {
      "adapter": "postgresql",
      "host": "0.0.0.0",
      "username": "postgres",
      "password": null,
      "database": "gnrd_test"
    },
    "production": {
      "adapter": "postgresql",
      "host": "0.0.0.0",
      "username": "postgres",
      "password": null,
      "database": "gnrd"
    }
  }
}

