{
  "salt": "<%= ENV['GNRD_SALT'] %>",
  "neti_neti_host": "<%= ENV['NETI_NETI_HOST'] %>",
  "neti_neti_port": "<%= ENV['NETI_NETI_PORT'] %>",
  "taxon_finder_host": "<%= ENV['TAXON_FINDER_HOST'] %>",
  "taxon_finder_port": "<%= ENV['TAXON_FINDER_PORT'] %>",
  "redis_host": "<%= ENV['REDIS_HOST'] %>",
  "resolver_url": "<%= ENV['RESOLVER_URL'] %>",
  "database": {
    "development": {
      "adapter": "postgresql",
      "host": "<%= ENV['GNRD_DB_HOST'] %>",
      "username": "<%= ENV['GNRD_DB_USER'] %>",
      "password": "<%= ENV['GNRD_DB_USER_PASSWORD'] %>",
      "database": "<%= ENV['GNRD_DB'] %>"
    },
    "test": {
      "adapter": "postgresql",
      "host": "<%= ENV['GNRD_DB_HOST'] %>",
      "username": "<%= ENV['GNRD_DB_USER'] %>",
      "password": "<%= ENV['GNRD_DB_USER_PASSWORD'] %>",
      "database": "<%= ENV['GNRD_DB'] %>"
    },
    "production": {
      "adapter": "postgresql",
      "host": "<%= ENV['GNRD_DB_HOST'] %>",
      "username": "<%= ENV['GNRD_DB_USER'] %>",
      "password": "<%= ENV['GNRD_DB_USER_PASSWORD'] %>",
      "database": "<%= ENV['GNRD_DB'] %>"
    }
  }
}

