.namespotter-highlight{background-color:#ffff00;}
.ui-tooltip{
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  min-width:300px !important; min-height:150px !important;
  background-color:#FFF !important;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.ui-tooltip-title{font-size:14px !important;}
.ui-tooltip-content{border:0px !important;}
.ui-tooltip-icon{text-decoration:none !important;}
.namespotter-loader{
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/ajax-loader.gif');
  background-repeat:no-repeat;
  padding-left:40px;
  height:35px;
  line-height:35px;
  font-size:16px;
  margin:10px;
}
.namespotter-error{margin:10px;font-size:16px;padding-left:20px;}
.namespotter-vernaculars{color:#333;font-size:11px;}
.namespotter-images{text-align:center;margin:10px;}
.namespotter-images img{margin:10px;}
.namespotter-description{font-size:11px;line-height:12px;overflow-y:scroll;height:200px;}