body{
  background-color:white;
  color:#222222;
  font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size:75%;
  line-height:1.5em;
  font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size:75%;
}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  border-bottom-width:0;
  border-color:initial;
  border-image:initial;
  border-left-width:0;
  border-right-width:0;
  border-style:initial;
  border-top-width:0;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
  vertical-align:baseline;
}
body{
  background-color:white;
  color:#222222;
  font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size:75%;
}
#sidebar{
  background-color:#EDEDED;
  background-image:-webkit-gradient(linear, 0 0%, 0 500, from(#E4E8EF), to(#E4E8EF));
  border-right-color:#C2C2C2;
  border-right-style:solid;
  border-right-width:1px;
  bottom:0;
  box-shadow:black -8px 0 30px -30px inset;
  left:0;
  position:absolute;
  top:0;
  width:217px;
}
#content{
  bottom:0;
  left:219px;
  overflow-x:auto;
  overflow-y:auto;
  position:absolute;
  right:0;
  top:0;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
}

#sidebar img{
  left:18px;
  position:absolute;
  top:18px;
}
#sidebar h1{
  color:#707070;
  font-size:26px;
  position:absolute;
  right:25px;
  top:13px;
  line-height:48px;
  margin-bottom:0.5em;
}
#content h2{
  color:#707070;
  font-size:26px;
  line-height:48px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:10px;
  border-bottom:1px solid #eee;
}
#status{
  display:none;
  border:1px solid green;
  color:green;
  font-size:16px;
  font-weight:bold;
  padding:20px;
}
fieldset{margin:20px 0px;padding-top:10px;}
fieldset legend{
  font-size:20px;
  color:#707070;
}
input{margin:5px;}
#namespotter-hook{
  height:25px;
  padding:3px;
}
#submit{
  width:50px;
}