// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#base-url{margin:20px;padding:10px;border:1px solid #ccc;border-radius:6px;width:525px;background-color:#fafafa;}