<% title "Feedback" %>

<%- content_for :content_splash do -%>
<%= content_tag :h2, "Feedback" %>
<%- end -%>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '<%= Namespotter::Application.config.disqus_shortname %>'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>