<div id="Footer" class="structural fixedWidth">
  <div class="inner">
      <span><%= link_to 'Global Names Architecture', 'http://www.globalnames.org' %></span>|
      <span><%= link_to 'Global Names Index', 'http://gni.globalnames.org' %></span>|
      <span><%= link_to 'Global Names Classification and List Repository', 'http://gnaclr.globalnames.org' %></span>|
      <span><%= link_to 'Global Names Integrated Taxonomic Editor', 'http://gnite.org' %></span>
    </div>
  </div>
</div>